.container{
    margin-bottom: 20px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now-button{
    padding: 5px;
    background-image: linear-gradient(0deg,pink, red);
    border-radius: 5px;
   

} 
.price{
    colo:#ff136f;
}