.container{
    margin-bottom: 20px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now-button{
    padding: 5px;
    background-image: linear-gradient(0deg,pink, red);
    border-radius: 5px;
   

} 
.price{
    color:#ff136f;
}
.cat1, .cat2, .cat3{
    padding:10px 30px;
    border-radius: 5px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: palevioletred;
}
.cat3{
    background-color: rebeccapurple;
}
.col-md-4 h1{
    color: seashell;
}
.card{
    border: none;
    box-shadow: 10px 10px 10px gainsboro;
}
.card-footer{
    background-color: none;
    border-top: none;
}
#Subscribe{
    height: 300px;
}
footer{
    text-align:center ;
}